* {
  font-family: 'azo-sans-web', sans-serif;
  margin: 0; }

@font-face {
  font-family: 'azo-sans-web', sans-serif;
  font-weight: 300;
  font-style: normal; }

body {
  line-height: 1;
  font-family: 'urbane', sans-serif;
  height: 100%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #474747 !important;
  color: #fff; }
  @media (min-width: 1500px) {
    body {
      font-size: 17px; } }
  @media (min-width: 240px) and (max-width: 767px) {
    body {
      padding-top: 50px;
      padding-bottom: 30px;
      font-size: 14px; } }
.nav-link {
  color: #fff !important; }
  .nav-link:hover {
    color: #1B9591 !important;
    opacity: 0.8;
    transition: 0.3s; }

.nav-item {
  text-align: right; }

@media (min-width: 1500px) {
  .nav-container {
    padding-left: 30px;
    padding-right: 30px; } }

@media (min-width: 240px) and (max-width: 767px) {
  .nav-container {
    padding-left: 5px;
    padding-right: 5px; } }

@media (min-width: 1500px) {
  #footer_disclaimer {
    font-size: 17px; } }

@media (min-width: 240px) and (max-width: 767px) {
  #footer_disclaimer {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 14px; } }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar-toggler {
  float: right !important;
  width: 47px;
  height: 34px;
  background-color: #1B9591; }
  .navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #000;
    margin-bottom: 5px; }

.circletag {
  display: block;
  width: 40px;
  height: 40px;
  background: #E6E7ED;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-align: center; }

.circletag img {
  margin-top: 7px; }

.picture_container {
  width: auto;
  text-align: center;
  padding: 20px; }

.graph_container {
  width: auto;
  text-align: center;
  object-fit: contain; }

.general_pics {
  align-content: center;
  width: 75%;
  height: 75%;
  object-fit: contain; }

.services {
  width: 35%;
  height: 35%;
  object-fit: contain;
  padding: 2%; }

.services_titles {
  padding-bottom: 3%;
  text-decoration: underline; }

.logo {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  object-fit: contain;
  padding: 1%;
  align-content: center; }

.btn .btn-primary {
  background-color: #1B9591 !important;
  color: #000; }

.card-body {
  background-color: #474747; }

.button {
  background-color: #fff;
  border-radius: 3px;
  color: #000 !important;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: initial;
  display: inline-block;
  border-radius: 3px;
  padding: 2px 10px;
  line-height: 1.5rem;
  border: none;
  cursor: pointer; }
  .button:hover {
    background-color: #1B9591;
    color: #fff !important; }
  @media (min-width: 1500px) {
    .button {
      font-size: 1rem; }
      .button svg {
        position: relative;
        top: 0px; } }
  .button svg {
    display: inline-block;
    margin-right: 5px; }
  @media (min-width: 240px) and (max-width: 767px) {
    .button {
      font-size: 10px; } }
  .button svg {
    display: inline-block;
    margin-right: 5px; }

hr {
  margin-left: auto;
  margin-right: auto;
  background-color: #1B9591; }

.logo:hover {
  opacity: 0.6;
  transition: 0.3s; }

.my_links {
  color: #1B9591; }
  .my_links:hover {
    color: #fff !important;
    text-decoration: underline;
    opacity: 0.6;
    transition: 0.3s; }

ul {
  list-style: none;
  /* Remove default bullets */ }

.custom_dots::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #5FB4B2;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */ }

a {
  color: #1B9591 !important; }

@media (min-width: 1500px) {
  .breadcrumb-ckd {
    font-size: 20px; } }

@media (min-width: 240px) and (max-width: 767px) {
  .breadcrumb-ckd {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 14px; } }

.narrow-select {
  width: 80%; }

#footer_cols {
  color: #1B9591 !important;
  text-align: center; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.heading {
  font-size: 20px;
  color: #fff;
  padding: 5px 0 5px 10px; }

#base_header {
  color: #000 !important; }
  #base_header:hover {
    color: #1B9591 !important;
    opacity: 0.6;
    transition: 0.3s; }

#footer {
  padding-top: 3%;
  background-color: #000;
  padding-bottom: 2%;
  position: relative; }

#holder {
  position: relative;
  padding-bottom: 47px; }

#body {
  /* height of footer */
  padding-left: 5% !important;
  padding-right: 5% !important; }

tbody {
  color: white; }

@media (min-width: 240px) and (max-width: 767px) {
  .cm_pag {
    font-size: 8px; } }

.cm_pag .pagination > li > a {
  border: 1px solid #1B9591;
  background: #474747;
  color: #1B9591 !important; }

.page-item.active > a, .page-item > a:hover {
  background-color: black !important;
  border: 1px solid #1B9591 !important;
  color: white !important; }

.filter_row {
  margin-top: 10px; }
  .filter_row .card {
    border: 1px solid #ccc; }
    .filter_row .card .card-body {
      padding: 0px 0; }
      .filter_row .card .card-body .card-title {
        background: #1B9591;
        font-weight: 600;
        font-size: 1rem;
        color: white; }
      .filter_row .card .card-body .form-group {
        margin-bottom: 10px;
        margin-right: 5px;
        text-align: center !important; }
        .filter_row .card .card-body .form-group label {
          text-align: right !important;
          color: white;
          font-size: 0.85rem;
          font-weight: 600;
          text-transform: none; }
        .filter_row .card .card-body .form-group .form-control {
          border-radius: 1.47;
          box-shadow: none;
          font-size: 0.85rem; }
        .filter_row .card .card-body .form-group.buttons_row {
          margin-top: 30px; }
  .filter_row .table_container_row {
    margin-top: 0; }

.primary_btn {
  background: #1B9591;
  color: #fff !important;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: initial;
  display: inline-block;
  border-radius: 3px;
  padding: 2px 10px;
  line-height: 1.5rem;
  bordeR: none;
  cursor: pointer; }
  .primary_btn:hover {
    opacity: .8; }
  @media (min-width: 1500px) {
    .primary_btn {
      font-size: 1rem; }
      .primary_btn svg {
        position: relative;
        top: 0px; } }
  .primary_btn svg {
    display: inline-block;
    margin-right: 5px; }

.table_container_row {
  margin-top: 10px; }
  .table_container_row .card {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: #474747; }
    .table_container_row .card .card-title {
      padding: 5px 10px !important;
      background: #000;
      color: white !important;
      font-size: 1rem;
      margin-bottom: 0;
      font-weight: 600;
      line-height: 2.3rem; }
      .table_container_row .card .card-title.title_lh {
        line-height: 2rem; }
      .table_container_row .card .card-title .dropdown {
        display: inline-block; }
        .table_container_row .card .card-title .dropdown .dropdown-toggle {
          background: #fff;
          font-size: 12px;
          color: #fff;
          border-radius: 0;
          border: none; }
      .table_container_row .card .card-title .mark_read {
        background: #fff;
        display: inline-block;
        padding: 6px 10px;
        margin-left: 6px;
        color: #fff; }
        .table_container_row .card .card-title .mark_read:hover {
          background: #fff;
          color: #fff;
          text-decoration: none; }
      .table_container_row .card .card-title .total_count {
        margin-top: 0px;
        color: #fff; }
    .table_container_row .card .card-body {
      padding: 0px 0px; }
      .table_container_row .card .card-body table {
        border: none;
        margin-bottom: 0; }
        .table_container_row .card .card-body table thead tr th {
          color: white !important;
          font-weight: 900;
          font-size: 0.9rem;
          border: none;
          text-align: left;
          padding: 6px;
          border-bottom: 1px solid #f1f1f5; }
        .table_container_row .card .card-body table tbody tr td {
          vertical-align: middle;
          color: white !important;
          font-size: 0.83rem;
          text-align: left;
          font-weight: 500;
          padding: 7px 5px;
          border-bottom: 1px solid #f1f1f5; }
          @media (min-width: 1500px) {
            .table_container_row .card .card-body table tbody tr td {
              font-size: 1rem; } }
          .table_container_row .card .card-body table tbody tr td a {
            color: white;
            font-size: 0.85rem; }
            .table_container_row .card .card-body table tbody tr td a:hover {
              color: #fff;
              text-decoration: underline; }
          .table_container_row .card .card-body table tbody tr td .dropdown .dropdown-toggle {
            background: #fff;
            font-size: 12px;
            color: #fff;
            border-radius: 0;
            border: none; }
          .table_container_row .card .card-body table tbody tr td.actions a.box {
            line-height: 1.5rem;
            width: 1.65rem;
            height: 1.65rem; }

.list_filter_row {
  display: none; }

.page-item.active > a, .page-item > a:hover {
  background-color: black !important;
  border: 1px solid #1B9591 !important;
  color: white !important; }

.btn.btn-primary.save {
  background: #000 !important;
  border: 1px solid #1B9591 !important;
  color: #fff !important; }
  .btn.btn-primary.save:hover {
    opacity: 0.6; }
