//colors
$white: #fff;
$black:#000;
$lucky_green: #477744;
$lucky_orange: #FFB947;
$faded_lucky_orange: #FFCE7E;
$deep_blue:#1B9591;
$faded_deep_blue:#5FB4B2;
$soft_cream: #FFFFF7;
$faded_lucky_green:#7E9F7C;
$lucky_gray: #474747;
$faded_tomato_red:#D2614D;
$tomato_red: #CD4F39;
// #C7C8CB

//mediaviews
$large:1500px;
$med_min:992px;
$med_max:1199px;
$tab_max:991px;
$tab_min:768px;
$smob_max:767px;
$smob_min:480px;
$mob_max:479px;
$mob_min:240px;
