{% extends 'credit_model/base.html' %}
{% block body_block %}
<h3 style='text-align:center;padding-bottom:20px;'>
  What is an Inference Architect?
</h3>
      <h4 style='text-align:center;font-weight:bold;'>
        We provide cost efficient data science and software development.
      </h4>
    <br><br>
      <h4  style='line-height: 1.6;'>
          An inference architect offers two arenas of expertise.
          They develop the systems you need to better manage your data, optimize your workflows, and create user friendly interfaces to better gather your data.
          Then, they go beyond the traditional development lifecycle to grow the business you are currently seeing by applying statistical inference and machine learning methods
          to the data you have on hand.
       </h4>
       <h4  style='line-height: 1.6;'>
           We partner with small to mid-sized organizations who see the need for software development and data science, but find it hard to stomach the immense cost.
           Our hope is that we can provide you with these business necessities at below market value for the full-time data science or software development team.
           Feel like we might be a good fit for the challenges you're facing? <a href="mailto: ckinkadedarling@gmail.com" target="_blank">Send us a message</a> and we will get back to you in a timely manner.

        </h4>
{% endblock %}
